<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
          "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
          "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

  <property name="charset" value="UTF-8"/>
  <!-- 규칙 심각도 -->
  <property name="severity" value="warning"/>
  <!-- 검사 대상 value = 파일 확장자 -->
  <property name="fileExtensions" value="java, properties, xml"/>
  <!-- 검사 제외 대상 -->
  <!-- See https://checkstyle.org/filefilters/index.html -->
  <module name="BeforeExecutionExclusionFileFilter">
    <property name="fileNamePattern" value="module\-info\.java$"/>
  </module>
  <!-- 이 설정은 자바 코드 안에서 경고를 끌 수 있게 해주는 방법들 -->
  <module name="SuppressWarningsFilter"/>
  <!-- 한 줄의 최대 길이 (단, 패키지 선언이나 임포트 문, URL 등은 예외) -->
  <module name="LineLength">
    <property name="fileExtensions" value="java"/>
    <property name="max" value="100"/>
    <property name="ignorePattern"
             value="^package.*|^import.*|href\s*=\s*&quot;[^&quot;]*&quot;|http://|https://|ftp://"/>
  </module>
  <!--  """로 시작해서 """로 끝나는 구간(텍스트 블록)을 감지하여, 그 안에서 발생하는 줄 길이 초과(LineLength) 경고를 자동으로 무시 -->
  <module name="SuppressWithPlainTextCommentFilter">
    <property name="checkFormat" value="LineLength"/>
    <property name="offCommentFormat" value='^.*"""\s*$'/>
    <property name="onCommentFormat" value='^\s*"""\s*(?:[,;]|.+)$'/>
  </module>
  <!-- 자바 소스 코드 분석 파트 -->
  <module name="TreeWalker">
    <!-- 클래스명과 파일명은 동일 -->
    <module name="OuterTypeFilename"/>
    <!-- 한 줄 주석은 // 다음에 공백이 와야 함 -->
    <module name="MatchXpath">
      <property name="id" value="singleLineCommentStartWithSpace"/>
      <property name="query"
                value="//SINGLE_LINE_COMMENT[./COMMENT_CONTENT[not(starts-with(@text, ' '))
                       and not(starts-with(@text, '/'))
                       and not(@text = '\n') and not(ends-with(@text, '//\n'))]]"/>
      <message key="matchxpath.match" value="''//'' must be followed by a whitespace."/>
    </module>
    <!-- \n, \t, \", \\ 는 와 같은 쉬운 약속은 그대로 쓸 것 (유니코드 X) -->
    <module name="IllegalTokenText">
      <property name="tokens" value="STRING_LITERAL, CHAR_LITERAL, TEXT_BLOCK_CONTENT"/>
      <property name="format"
          value="\\u00(08|09|0(a|A)|0(c|C)|0(d|D)|20|22|27|5(C|c))|\\(0(10|11|12|14|15|40|42|47)|134)"/>
      <property name="message"
               value="Consider using special escape sequence instead of octal value or Unicode escaped value."/>
    </module>
    <!-- 특별한 약속이 없는 특수 문자는 유니코드를 쓰되 주석을 반드시 달아야 됨 -->
    <module name="AvoidEscapedUnicodeCharacters">
      <property name="allowEscapesForControlCharacters" value="true"/>
      <property name="allowByTailComment" value="true"/>
      <property name="allowNonPrintableEscapes" value="true"/>
    </module>
    <!-- 하나의 파일에는 최상위 클래스가 하나여야 된다. -->
    <module name="OneTopLevelClass"/>
    <!-- 패키지 선언과 임포트 문은 절대 줄 바꿈 하지 말고 무조건 한 줄 -->
    <module name="NoLineWrap">
      <property name="tokens" value="PACKAGE_DEF, IMPORT, STATIC_IMPORT"/>
    </module>
    <!-- if, else, for, do, while 문을 쓸 때 코드가 한 줄이더라도 반드시 중괄호{}를 사용 -->
    <module name="NeedBraces">
      <property name="tokens"
               value="LITERAL_DO, LITERAL_ELSE, LITERAL_FOR, LITERAL_IF, LITERAL_WHILE"/>
    </module>
    <!-- 여는 중괄호는 선언문 바로 옆, 줄 끝에 작성 -->
    <module name="LeftCurly">
      <property name="id" value="LeftCurlyEol"/>
      <property name="tokens"
                value="ANNOTATION_DEF, CLASS_DEF, CTOR_DEF, ENUM_CONSTANT_DEF, ENUM_DEF,
                    INTERFACE_DEF, LAMBDA, LITERAL_CATCH,
                    LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY, LITERAL_FOR, LITERAL_IF,
                    LITERAL_SWITCH, LITERAL_SYNCHRONIZED, LITERAL_TRY, LITERAL_WHILE, METHOD_DEF,
                    OBJBLOCK, STATIC_INIT, RECORD_DEF, COMPACT_CTOR_DEF"/>
    </module>
    <!-- switch문의 case : 와 default :에서 중괄호를 쓸 때만큼은 엔터를 쳐서 다음 줄 -->
    <module name="LeftCurly">
      <property name="id" value="LeftCurlyNl"/>
      <property name="option" value="nl"/>
      <property name="tokens"
                value="LITERAL_CASE, LITERAL_DEFAULT"/>
    </module>
    <!-- 최신 case -> 문에서는 줄 끝에 바로 붙여 쓸 수 있도록 예외 -->
    <module name="SuppressionXpathSingleFilter">
      <property name="id" value="LeftCurlyNl"/>
      <property name="query" value="//SWITCH_RULE/SLIST"/>
    </module>
    <!-- } else { 처럼 한 줄로 이어서 닫는 중괄호를 사용 -->
    <module name="RightCurly">
      <property name="id" value="RightCurlySame"/>
      <property name="tokens"
                value="LITERAL_TRY, LITERAL_CATCH, LITERAL_IF, LITERAL_ELSE,
                    LITERAL_DO"/>
    </module>
    <!-- 마지막 catch 블록의 닫는 중괄호 } 에 대해 예외처리 -->
    <module name="SuppressionXpathSingleFilter">
      <property name="id" value="RightCurlySame"/>
      <property name="query" value="//RCURLY[parent::SLIST[parent::LITERAL_CATCH
                               and not(parent::LITERAL_CATCH/following-sibling::*)]]"/>
    </module>
    <!-- 그 외의 닫는 중괄호는 반드시 단독으로 한 줄에 작성 -->
    <module name="RightCurly">
      <property name="id" value="RightCurlyAlone"/>
      <property name="option" value="alone"/>
      <property name="tokens"
               value="CLASS_DEF, METHOD_DEF, CTOR_DEF, LITERAL_FOR, LITERAL_WHILE, STATIC_INIT,
                    INSTANCE_INIT, ANNOTATION_DEF, ENUM_DEF, INTERFACE_DEF, RECORD_DEF,
                    COMPACT_CTOR_DEF, LITERAL_SWITCH, LITERAL_CASE, LITERAL_FINALLY,
                    LITERAL_CATCH"/>
    </module>
    <!-- 1. 내용이 없거나 2. 아주 짧거나 3. 뒤에 바로 다른 블록이 붙는 경우에는 한 줄에 작성 가능 -->
    <module name="SuppressionXpathSingleFilter">
      <!-- suppression is required till https://github.com/checkstyle/checkstyle/issues/7541 -->
      <property name="id" value="RightCurlyAlone"/>
      <property name="query" value="//RCURLY[parent::SLIST[count(./*)=1
                               and not(parent::LITERAL_CATCH)]
                               or (preceding-sibling::*[last()][self::LCURLY]
                               and not(parent::SLIST/parent::LITERAL_CATCH))
                               or (parent::SLIST/parent::LITERAL_CATCH
                               and parent::SLIST/parent::LITERAL_CATCH/following-sibling::*)]"/>
    </module>
    <!-- 쉼표, 세미콜론, 형변환 괄호 등을 썼다면 그 직후에는 무조건 공백 추가-->
    <module name="WhitespaceAfter">
      <property name="tokens"
               value="COMMA, SEMI, TYPECAST, ELLIPSIS, LITERAL_YIELD, LITERAL_CASE, ANNOTATIONS"/>
    </module>
    <!-- 거의 모든 연산자와 키워드 앞뒤로 공백 -->
    <module name="WhitespaceAround">
      <property name="allowEmptyConstructors" value="true"/>
      <property name="allowEmptyLambdas" value="true"/>
      <property name="allowEmptyMethods" value="true"/>
      <property name="allowEmptyTypes" value="true"/>
      <property name="allowEmptyLoops" value="true"/>
      <property name="allowEmptySwitchBlockStatements" value="true"/>
      <property name="ignoreEnhancedForColon" value="false"/>
      <property name="tokens"
               value="ASSIGN, BAND, BAND_ASSIGN, BOR, BOR_ASSIGN, BSR, BSR_ASSIGN, BXOR,
                    BXOR_ASSIGN, COLON, DIV, DIV_ASSIGN, DO_WHILE, EQUAL, GE, GT, LAMBDA, LAND,
                    LCURLY, LE, LITERAL_CATCH, LITERAL_DO, LITERAL_ELSE, LITERAL_FINALLY,
                    LITERAL_FOR, LITERAL_IF, LITERAL_RETURN, LITERAL_SWITCH, LITERAL_SYNCHRONIZED,
                    LITERAL_TRY, LITERAL_WHILE, LOR, LT, MINUS, MINUS_ASSIGN, MOD, MOD_ASSIGN,
                    NOT_EQUAL, PLUS, PLUS_ASSIGN, QUESTION, RCURLY, SL, SLIST, SL_ASSIGN, SR,
                    SR_ASSIGN, STAR, STAR_ASSIGN, LITERAL_ASSERT,
                    TYPE_EXTENSION_AND, LITERAL_WHEN"/>
      <message key="ws.notFollowed"
              value="WhitespaceAround: ''{0}'' is not followed by whitespace. Empty blocks
               may only be represented as '{}' when not part of a multi-block statement (4.1.3)"/>
      <message key="ws.notPreceded"
              value="WhitespaceAround: ''{0}'' is not preceded with whitespace."/>
    </module>
    <!-- 코드가 딱 한 줄뿐이라면 예외 -->
    <module name="SuppressionXpathSingleFilter">
      <property name="checks" value="WhitespaceAround"/>
      <property name="query" value="//*[self::LITERAL_IF or self::LITERAL_ELSE or
                                 self::STATIC_INIT]/SLIST[count(./*)=1]
                                 | //*[self::STATIC_INIT or self::LITERAL_TRY or self::LITERAL_IF]
                                 //*[self::RCURLY][parent::SLIST[count(./*)=1]]
                                 | //SLIST[count(./*)=1][parent::LITERAL_TRY and
                                 not(following-sibling::*)]
                                 | //SLIST[count(./*)=1][parent::LITERAL_CATCH and
                                 not(parent::LITERAL_CATCH/following-sibling::*)]"/>
    </module>
    <!-- 빈 블록은 중괄호 사이에 공백 없이 {} 로 작성 -->
    <module name="RegexpSinglelineJava">
      <property name="format" value="\{[ ]+\}"/>
      <property name="message" value="Empty blocks should have no spaces. Empty blocks
                                   may only be represented as '{}' when not part of a
                                   multi-block statement (4.1.3)"/>
    </module>
    <!-- 한 줄에 명령문은 하나만 ; 기준 -->
    <module name="OneStatementPerLine"/>
    <!-- 배열이라는 정보를 대괄호[]를 타입 옆에 붙여넣기 String[] args; -->
    <module name="ArrayTypeStyle"/>
    <!-- 주석 * 은 한줄로 나란히 -->
    <module name="JavadocLeadingAsteriskAlign"/>
    <!-- 주석의 모든 줄은 반드시 * 로 시작 -->
    <module name="JavadocMissingLeadingAsterisk"/>
    <!-- 주석의 본문은 두번째 줄 부터 시작 -->
    <module name="JavadocContentLocation"/>
    <!-- 모든 switch 문에는 반드시 default 포함 -->
    <module name="MissingSwitchDefault"/>
    <!-- switch 문에서 case 끝에 break, return 등 제어문 필수 -->
    <module name="FallThrough"/>
    <!-- long 타입 뒤에는 무조건 대문자 L -->
    <module name="UpperEll"/>
    <!-- 접근 제어자, 예약어 순서는 JLS를 지킬 것 -->
    <module name="ModifierOrder"/>
    <!-- """ 한 줄씩 차지 -->
    <module name="TextBlockGoogleStyleFormatting"/>
    <!-- 클래스 멤버, 메서드, 임포트 구문 사이에 적절한 빈 줄을 강제 -->
    <module name="EmptyLineSeparator">
      <property name="tokens"
               value="PACKAGE_DEF, IMPORT, STATIC_IMPORT, CLASS_DEF, INTERFACE_DEF, ENUM_DEF,
                    STATIC_INIT, INSTANCE_INIT, METHOD_DEF, CTOR_DEF, VARIABLE_DEF, RECORD_DEF,
                    COMPACT_CTOR_DEF"/>
      <property name="allowNoEmptyLineBetweenFields" value="true"/>
      <property name="allowMultipleEmptyLines" value="false"/>
    </module>
    <!-- 메소드 체이닝과 같은 점(.) 연산자는 다음 줄로 -->
    <module name="SeparatorWrap">
      <property name="id" value="SeparatorWrapDot"/>
      <property name="tokens" value="DOT"/>
      <property name="option" value="nl"/>
    </module>
    <!-- 줄을 바꿀 때 , 는 끝에 붙이기 -->
    <module name="SeparatorWrap">
      <property name="id" value="SeparatorWrapComma"/>
      <property name="tokens" value="COMMA"/>
      <property name="option" value="EOL"/>
    </module>
    <!-- 가변 인자(Varargs) 기호인 말줄임표(...)를 줄 바꿈 할 때, 무조건 윗줄 끝 -->
    <module name="SeparatorWrap">
      <!-- ELLIPSIS is EOL until https://github.com/google/styleguide/issues/259 -->
      <property name="id" value="SeparatorWrapEllipsis"/>
      <property name="tokens" value="ELLIPSIS"/>
      <property name="option" value="EOL"/>
    </module>
    <!-- 배열 선언 시 대괄호([])는 윗줄 끝 -->
    <module name="SeparatorWrap">
      <!-- ARRAY_DECLARATOR is EOL until https://github.com/google/styleguide/issues/258 -->
      <property name="id" value="SeparatorWrapArrayDeclarator"/>
      <property name="tokens" value="ARRAY_DECLARATOR"/>
      <property name="option" value="EOL"/>
    </module>
    <!-- 메서드 참조 연산자(::)는 다음 줄로 -->
    <module name="SeparatorWrap">
      <property name="id" value="SeparatorWrapMethodRef"/>
      <property name="tokens" value="METHOD_REF"/>
      <property name="option" value="nl"/>
    </module>
    <!-- 패키지 이름은 소문자 -->
    <module name="PackageName">
      <property name="format" value="^[a-z]+(\.[a-z][a-z0-9]*)*$"/>
      <message key="name.invalidPattern"
             value="Package name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <!-- 클래스나 인터페이스, 열거형 이름은 UpperCamelCase -->
    <module name="TypeName">
      <property name="format" value="^[A-Z][a-zA-Z0-9]*(?:[0-9](?:_[0-9]+)*)?$"/>
      <property name="tokens" value="CLASS_DEF"/>
      <message key="name.invalidPattern"
             value="Type name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="TypeName">
      <property name="tokens" value="INTERFACE_DEF, ENUM_DEF,
                    ANNOTATION_DEF, RECORD_DEF"/>
      <message key="name.invalidPattern"
             value="Type name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <!-- 변수 이름은 lowerCamelCase -->
    <module name="MemberName">
      <property name="format"
        value="^(?![a-z]$)(?![a-z][A-Z])[a-z][a-zA-Z0-9]*(?:_[0-9]+)*$"/>
      <message key="name.invalidPattern"
             value="Member name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <!-- 서드나 생성자의 매개변수(Parameter) 이름은 lowerCamelCase -->
    <module name="ParameterName">
      <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
      <message key="name.invalidPattern"
             value="Parameter name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <!-- 람다 매개변수 이름은 lowerCamelCase -->
    <module name="LambdaParameterName">
      <property name="format" value="^(_|[a-z]([a-z0-9][a-zA-Z0-9]*)?)$"/>
      <message key="name.invalidPattern"
             value="Lambda parameter name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <!-- try-catch 문에서 잡아낸 예외 객체(Exception)의 이름 소문자로 -->
    <module name="CatchParameterName">
      <property name="format" value="^(_|[a-z]([a-z0-9][a-zA-Z0-9]*)?)$"/>
      <message key="name.invalidPattern"
             value="Catch parameter name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="LocalVariableName">
      <property name="format" value="^(_|[a-z]([a-z0-9][a-zA-Z0-9]*)?)$"/>
      <message key="name.invalidPattern"
             value="Local variable name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="PatternVariableName">
      <property name="format" value="^(_|[a-z]([a-z0-9][a-zA-Z0-9]*)?)$"/>
      <message key="name.invalidPattern"
             value="Pattern variable name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="ClassTypeParameterName">
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern"
             value="Class type name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="RecordComponentName">
      <property name="format" value="^[a-z]([a-z0-9][a-zA-Z0-9]*)?$"/>
      <message key="name.invalidPattern"
               value="Record component name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="RecordTypeParameterName">
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern"
               value="Record type name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="MethodTypeParameterName">
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern"
             value="Method type name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <module name="InterfaceTypeParameterName">
      <property name="format" value="(^[A-Z][0-9]?)$|([A-Z][a-zA-Z0-9]*[T]$)"/>
      <message key="name.invalidPattern"
             value="Interface type name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <!-- 제네릭 여백 -->
    <module name="NoFinalizer"/>
    <module name="GenericWhitespace">
      <message key="ws.followed"
             value="GenericWhitespace ''{0}'' is followed by whitespace."/>
      <message key="ws.preceded"
             value="GenericWhitespace ''{0}'' is preceded with whitespace."/>
      <message key="ws.illegalFollow"
             value="GenericWhitespace ''{0}'' should followed by whitespace."/>
      <message key="ws.notPreceded"
             value="GenericWhitespace ''{0}'' is not preceded with whitespace."/>
    </module>
    <!-- 들여쓰기 -->
    <module name="Indentation">
      <property name="basicOffset" value="4"/>
      <property name="braceAdjustment" value="4"/>
      <property name="caseIndent" value="4"/>
      <property name="throwsIndent" value="4"/>
      <property name="lineWrappingIndentation" value="4"/>
      <property name="arrayInitIndent" value="4"/>
    </module>
    <!-- 약어 금지 (연속된 대문자 금지) -->
    <module name="AbbreviationAsWordInName">
      <property name="ignoreFinal" value="false"/>
      <property name="allowedAbbreviationLength" value="0"/>
      <property name="tokens"
               value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, ANNOTATION_DEF, ANNOTATION_FIELD_DEF,
                    PARAMETER_DEF, VARIABLE_DEF, METHOD_DEF, PATTERN_VARIABLE_DEF, RECORD_DEF,
                    RECORD_COMPONENT_DEF"/>
    </module>
    <!-- switch 문의 case 와 default 콜론(:) 앞에는 공백 금지 -->
    <module name="NoWhitespaceBeforeCaseDefaultColon"/>
    <!-- 오버로딩된 메소드들은 한곳으로 모아두기 -->
    <module name="OverloadMethodsDeclarationOrder"/>
    <!-- 생성자들은 한곳으로 모아두기 -->
    <module name="ConstructorsDeclarationGrouping"/>
    <!-- import 문 정렬(순서) -->
    <module name="CustomImportOrder">
      <property name="sortImportsInGroupAlphabetically" value="true"/>
      <property name="separateLineBetweenGroups" value="true"/>
      <property name="customImportOrderRules" value="STATIC###THIRD_PARTY_PACKAGE"/>
      <property name="tokens" value="IMPORT, STATIC_IMPORT, PACKAGE_DEF"/>
    </module>
    <!-- 메서드 이름과 그 뒤에 오는 괄호 ( 사이에 공백 금지 -->
    <module name="MethodParamPad">
      <property name="tokens"
               value="CTOR_DEF, LITERAL_NEW, METHOD_CALL, METHOD_DEF, CTOR_CALL,
                    SUPER_CTOR_CALL, ENUM_CONSTANT_DEF, RECORD_DEF, RECORD_PATTERN_DEF"/>
    </module>
    <!-- 특정 기호들 바로 앞에 불필요한 공백 금지 -->
    <module name="NoWhitespaceBefore">
      <property name="tokens"
               value="COMMA, SEMI, POST_INC, POST_DEC, DOT,
                    LABELED_STAT, METHOD_REF, ELLIPSIS"/>
      <property name="allowLineBreaks" value="true"/>
    </module>
    <!-- 예외: 애노테이션이 붙은 가변 인자(말줄임표 ...) 앞에는 공백 허용 -->
    <module name="SuppressionXpathSingleFilter">
      <property name="checks" value="NoWhitespaceBefore"/>
      <property name="query"
          value="//ELLIPSIS[preceding-sibling::TYPE/ANNOTATIONS[ANNOTATION[LPAREN]
              or not(following-sibling::*)]]"/>
    </module>
    <!-- 괄호 ( 와 ) 바로 안쪽에 불필요한 공백 금지 -->
    <module name="ParenPad">
      <property name="tokens"
               value="ANNOTATION, ANNOTATION_FIELD_DEF, CTOR_CALL, CTOR_DEF, DOT, ENUM_CONSTANT_DEF,
                    EXPR, LITERAL_CATCH, LITERAL_DO, LITERAL_FOR, LITERAL_IF, LITERAL_NEW,
                    LITERAL_SWITCH, LITERAL_SYNCHRONIZED, LITERAL_WHILE, METHOD_CALL,
                    METHOD_DEF, QUESTION, RESOURCE_SPECIFICATION, SUPER_CTOR_CALL, LAMBDA,
                    RECORD_DEF, RECORD_PATTERN_DEF"/>
    </module>
    <!-- 연산자가 포함된 긴 문장을 줄 바꿈 할 때, 연산자를 다음 줄의 맨 앞에 위치 -->
    <module name="OperatorWrap">
      <property name="option" value="NL"/>
      <property name="tokens"
               value="BAND, BOR, BSR, BXOR, DIV, EQUAL, GE, GT, LAND, LE, LITERAL_INSTANCEOF, LOR,
                    LT, MINUS, MOD, NOT_EQUAL, PLUS, QUESTION, SL, SR, STAR, METHOD_REF,
                    TYPE_EXTENSION_AND "/>
    </module>
    <!-- 클래스나 메서드 같은 선언부 앞에 붙는 애노테이션(@)은 무조건 줄 바꿈 -->
    <module name="AnnotationLocation">
      <property name="id" value="AnnotationLocationMostCases"/>
      <property name="tokens"
               value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF, METHOD_DEF, CTOR_DEF,
                      RECORD_DEF, COMPACT_CTOR_DEF, PACKAGE_DEF"/>
    </module>
    <!-- 변수(필드)를 정의할 때는 애노테이션을 같은 줄에 여러 개 가능 -->
    <module name="AnnotationLocation">
      <property name="id" value="AnnotationLocationVariables"/>
      <property name="tokens" value="VARIABLE_DEF"/>
      <property name="allowSamelineMultipleAnnotations" value="true"/>
    </module>
    <!-- 기록형(Record)에서 자동으로 생성되는 접근자 메서드에는 @Override 애노테이션 추가 -->
    <module name="MissingOverrideOnRecordAccessor"/>
    <!-- 주석 태그 옆에 공백 금지 * @return -->
    <module name="NonEmptyAtclauseDescription"/>
    <!-- 주석은 알맞은 위치에 달것 -->
    <module name="InvalidJavadocPosition"/>
    <!-- 주석 들여쓰기 -->
    <module name="JavadocTagContinuationIndentation"/>
    <!-- 메소드 명은 lowerCamelCase -->
    <module name="MethodName">
      <property name="format"
          value="^(?![a-z]$)(?![a-z][A-Z])[a-z][a-z0-9]*(?:[A-Z][a-z0-9]*)*(?:_[0-9]+)*$"/>
      <message key="name.invalidPattern"
             value="Method name ''{0}'' must match pattern ''{1}''."/>
    </module>
    <!-- 테스트 메서드의 이름은 특별히 예외 처리 -->
    <module name="SuppressionXpathSingleFilter">
      <property name="checks" value="MethodName"/>
      <property name="query" value="//METHOD_DEF[
                                     ./MODIFIERS/ANNOTATION//IDENT[contains(@text, 'Test')]
                                   ]/IDENT"/>
      <property name="message" value="'[a-z][a-z0-9][a-zA-Z0-9]*(?:_[a-z][a-z0-9][a-zA-Z0-9]*)*'"/>
    </module>
    <!-- 가벼운 주석은 한 줄로 작성 -->
    <module name="SingleLineJavadoc"/>
    <!-- TODO 주석은 반드시 대문자 TODO: 로 작성 -->
    <module name="TodoComment">
      <property name="format" value="^[ \t]*(?!TODO:)(?i:TODO)\b:?"/>
      <message key="todo.match"
               value="''TODO:'' must be written in all caps and followed by a colon."/>
    </module>
    <!-- 빈 catch 블록에는 반드시 주석을 달 것 -->
    <module name="EmptyCatchBlock">
      <property name="commentFormat" value="\w+"/>
    </module>
    <!-- 주석 들여쓰기 시작줄은 코드와 일치해야된다. -->
    <module name="CommentsIndentation">
      <property name="tokens" value="SINGLE_LINE_COMMENT, BLOCK_COMMENT_BEGIN"/>
    </module>
    <!-- 자바 코드 안에서 경고를 끌 수 있게 해주는 방법들 -->
    <module name="SuppressWarningsHolder" />
    <module name="SuppressionCommentFilter">
      <property name="offCommentFormat" value="CHECKSTYLE.OFF\: ([\w\|]+)" />
      <property name="onCommentFormat" value="CHECKSTYLE.ON\: ([\w\|]+)" />
      <property name="checkFormat" value="$1" />
    </module>
    <module name="SuppressWithNearbyCommentFilter">
      <property name="commentFormat" value="CHECKSTYLE.SUPPRESS\: ([\w\|]+)"/>
      <!-- $1 refers to the first match group in the regex defined in commentFormat -->
      <property name="checkFormat" value="$1"/>
      <!-- The check is suppressed in the next line of code after the comment -->
      <property name="influenceFormat" value="1"/>
    </module>
  </module>
</module>