<Configuration status="INFO">
    <Properties>
        <Property name="logPath">./logs</Property>
        <Property name="logPattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss} [%t] %c{1} - %msg%n</Property>
        <Property name="serviceName">application</Property>
    </Properties>
    <Appenders>
        <Console name="Console">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <RollingFile
                name="FileAppender"
                append="true"
                fileName="${logPath}/${serviceName}.log"
                filePattern="${logPath}/${serviceName}.%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/> 
                <TimeBasedTriggeringPolicy/> 
            </Policies>
            <DefaultRolloverStrategy>
		            <Delete basePath="${logPath}" maxDepth="1">
		                <IfFileName glob="${serviceName}.*.log"/>
		                <IfLastModified age="15d"/>
		            </Delete>
		        </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!-- mybatis 로그 mapper 패키지 작성-->
        <Logger name="com.example.springcache.mapper" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- 루트 로거 -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Root>
    </Loggers>
</Configuration>